/*Orbit Animation */

/*SUNFIRE ANIMATION*/
@-webkit-keyframes SunFire {
    from {
        -webkit-box-shadow:0 0 50px #f5c91a;
        -moz-box-shadow:0 0 50px #f5c91a;
        box-shadow:0 0 50px #f5c91a;
    
    }
    to {
        -webkit-box-shadow:0 0 100px #f5c91a;
        -moz-box-shadow:0 0 100px #f5c91a;
        box-shadow:0 0 100px #f5c91a;}
}
@-moz-keyframes SunFire {
    from { 
        -webkit-box-shadow:0 0 50px #f5c91a;
        -moz-box-shadow:0 0 50px #f5c91a;
        box-shadow:0 0 50px #f5c91a;
    
    }
    to {
        -webkit-box-shadow:0 0 100px #f5c91a;
        -moz-box-shadow:0 0 100px #f5c91a;
        box-shadow:0 0 100px #f5c91a;}
}
@-o-keyframes SunFire {
    from {
        -webkit-box-shadow:0 0 50px #f5c91a;
        -moz-box-shadow:0 0 50px #f5c91a;
        box-shadow:0 0 50px #f5c91a;
    
    }
    to {
        -webkit-box-shadow:0 0 100px #f5c91a;
        -moz-box-shadow:0 0 100px #f5c91a;
        box-shadow:0 0 100px #f5c91a;}
}
@keyframes SunFire {
    from {
        -webkit-box-shadow:0 0 50px #f5c91a;
        -moz-box-shadow:0 0 50px #f5c91a;
        box-shadow:0 0 50px #f5c91a;
    
    }
    to {
        -webkit-box-shadow:0 0 100px #f5c91a;
        -moz-box-shadow:0 0 100px #f5c91a;
        box-shadow:0 0 100px #f5c91a;}
}
/* ROTATE ANIMATION*/
@-webkit-keyframes spin {
    from { transform: rotate(0); }
    to {transform: rotate(360deg);}
}@-moz-keyframes spin {
    from { transform: rotate(0); }
    to {transform: rotate(360deg);}
}@-o-keyframes spin {
    from { transform: rotate(0); }
    to {transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: rotate(0); }
    to {transform: rotate(360deg);}
}
html, body{
    height:100%;
    width: 100%;
}

#universe{
    position:relative;
    z-index:2;
    height: 100%;
    width: 100%;
    background: url(Image/Stars5.png) ;
    
}
#sun {
    position:absolute;
    top: 55%;
    left:50%;
    z-index: 4;
    margin-top:-100px;
    margin-left:-100px;
    height: 200px;
    width: 200px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius: 100%
    
    background: orange; 
        background: -webkit-radial-gradient(#f5c313, #ec7e08);
        background: -moz-radial-gradient(#f5c313, #ec7e08);
        background: -o-radial-gradient(#f5c313, #ec7e08);
        background: radial-gradient(#f5c313, #ec7e08);
    
    -webkit-box-shadow: 0 0 50px #f5c91a;
    -moz-box-shadow: 0 0 50px #f5c91a;
    box-shadow: 0 0 50px #f5c91a;
    
    -webkit-animation: SunFire 2s infinite alternate;
    -moz-animation: SunFire 2s infinite alternate;
    -o-animation: SunFire 2s infinite alternate;
    animation: SunFire 2s infinite alternate;
}
#earthOrbit{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-300px;
    margin-left:-300;
    z-index:4;
    height: 700px;
    width:600px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    -webkit-animation: spin 50s linear infinite;
    -moz-animation: spin 50s linear infinite;
    -o-animation: spin 50s linear infinite;
    animation: spin 50s linear infinite;
}
#earth{
    position:absolute;
    top:50%;
    left:0;
    margin-top: -40px;
    height: 80px;
    width: 80px;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    -o-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}
#MoonOrbit{
    position: absolute;
    top:50%;
    left:-20px;
    margin-top:-60px;
    z-index:4;
    height: 120px;
    width:120px;
    
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
   -webkit-animation: spin 4s linear infinite reverse;
    -moz-animation: spin 4s linear infinite reverse;
    -o-animation: spin 4s linear infinite reverse;
    animation: spin 4s linear infinite reverse;
}

#Moon {
    height: 20px;
    width: 20px;
        z-index: 4;
    background: gray;
    background:  -webkit-radial-gradient(#ddd, #888);
    background:  -moz-radial-gradient(#ddd, #888);
    background:  radial-gradient(#ddd, #888);
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
#mercureOrbit{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-150px;
    z-index:4;
    height: 300px;
    width:300px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    -o-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}
#mercure{
    position:absolute;
    top:50%;
    left:0;
    margin-top: 100px;
    height: 80px;
    width: 80px;
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    -o-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}